* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
}

body {
    background-image: url(./img/background/pngtree-vintage-world-map-world-dirt-paper-photo-image_82152.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Evita scroll lateral, mas permite scroll vertical */
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    gap: 20px; /* Espaço entre o main e a legenda */
}

main {
    width: 65%; /* Ajuste a largura do main para ser mais largo */
    background-color: rgba(189, 165, 56, 0.486);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Evita que o conteúdo interno saia do contêiner */
    border: 1.5px solid rgb(0, 0, 0);
}

label {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}

select, input {
    background-color: rgba(189, 165, 56, 0.486);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: rgba(30, 30, 30, 0.5);
}

button {
    background-color: rgba(187, 157, 23, 0.849);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

button:hover {
    opacity: 0.9;
}

section {
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 0px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-convert {
    width: 60px;
    margin: 0 20px;
}

.flags {
    width: 40px;
}

.currency-box {
    text-align: center;
}

.currency {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}

.currency-value {
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.legenda {
    width: 60%; /* Ajuste a largura da legenda */
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(189, 165, 56, 0.486);
}

.legenda h1 {
    text-align: center;
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.legenda ul {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Cria duas colunas de tamanho igual */
    gap: 25px; /* Espaço entre os itens */
    list-style: none; /* Remove o marcador padrão das listas */
    width: 100%; /* Garante que as colunas ocupem toda a largura */
}

.legenda li {
    display: flex;
    align-items: center;
}

.legenda li img {
    margin-right: 15px;
}

/* Responsividade para celulares */
@media (max-width: 768px) {
    body {
        background-image: url(./img/background/background-coins.jpg);
        background-repeat: repeat;
        background-size: contain;
        background-position: center center;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto; /* Permite scroll vertical */
    }

    .main-container {
        flex-direction: column; /* Muda o layout para coluna em telas menores */
        align-items: center; /* Centraliza os elementos */
    }

    main {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.2);
        background-color: rgb(71 233 97 / 63%);
        width: 100%; /* Faz o main ocupar toda a largura em telas pequenas */
        margin-bottom: 20px; /* Espaço entre o main e a legenda */
    }

    .legenda {
        margin-bottom: 15px;
        width: 100%; /* Faz a legenda ocupar toda a largura em telas pequenas */
    }

    section {
        flex-direction: row;
        align-items: center;
    }

    .img-convert {
        margin: 20px 0; /* Adiciona margem para separar a animação das bandeiras em telas pequenas */
    }

    .legenda ul {
        display: list-item;
        list-style: none;
        width: 90%;
    }

    .legenda li {
        margin: 10px;
    }

    select, input {
        background-color: rgb(42 255 0 / 71%);
    }

    button {
        background-color: rgb(42 255 0 / 50%);
    }

    .legenda {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.2);
        background-color: rgb(71 233 97 / 63%);
    }
}
